.App {
	height: 100vh;
	width: 100vw;
}
.calculator {
	height: 800px;
	width: 400px;
	margin: 50px auto;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar h4 {
	font-size: 30px;
	text-align: center;
	font-family: cursive;
	color: rgb(15, 180, 0);
}

.actions {
	display: flex;
}
.operands{
  display: flex;
}
.operator{
  display: flex;
  flex-direction: column;
}
